/* SceneTransition.css */

.scene-transition {
    transition: opacity 0.5s ease-in-out;
}

.scene-transition-enter {
    opacity: 0;
}

.scene-transition-enter-active {
    opacity: 1;
}

.scene-transition-exit {
    opacity: 1;
}

.scene-transition-exit-active {
    opacity: 0;
}
